---
# guess-or-solve.yml
- name: debug 
  ansible.builtin.debug:
    msg: "**** GUESS-OR_SOLVE ****"
    
# guess -> pick MRV
- name: pick guessing cell
  ansible.builtin.include_tasks: tasks/solver/heuristic/guess-pick-mrv.yml

# no MRV -> puzzle solved
- name: stop puzzle
  ansible.builtin.set_fact:
    puzzle_solved: "{{ mrv_found == false }}"

# propagate guess to neighbors
- name: propagate guess
  ansible.builtin.include_tasks: tasks/solver/heuristic/guess-apply.yml
  when:
    - not puzzle_solved 

# if not solved -> rollback parent and return failure
- name: no candidate succeeded
  ansible.builtin.include_tasks: tasks/solver/heuristic/guess-rollback.yml
  when: 
    - not puzzle_solved

