---
# guess-apply.yml
# This play handles all candidates for a given MRV cell
# and performs full DFS/backtracking logic

- name: debug
  ansible.builtin.debug:
    msg: "**** GUESS-APPLY **** Candidates: {{ mrv_domain }} at ({{ mrv_row }},{{ mrv_col }})"

- name: loop over MRV candidates
  ansible.builtin.include_tasks: tasks/solver/heuristic/guess-apply-single.yml
  loop: "{{ mrv_domain }}"
  loop_control:
    loop_var: candidate
