---
- name: check forced moves
  platform42.neo4j.query:
    neo4j_uri: "{{ NEO4J_URI }}"
    database: "{{ NEO4J_DATABASE }}"
    username: "{{ NEO4J_USERNAME }}"
    password: "{{ NEO4J_PASSWORD }}"
    query: |
      MATCH (c:Cell)
      WHERE c.color = 0 AND size(c.domain) = 1
      RETURN 
        c.entity_name AS entity_name,
        c.domain[0] AS color
  register: forced

- name: indicate new forced moves
  ansible.builtin.set_fact:
    has_forced_moves: "{{ forced.query.cypher_response | length > 0 }}"

- name: calculate forced moves
  ansible.builtin.include_tasks: tasks/solver/initial.yml
  loop: "{{ forced.query.cypher_response }}"

- name: call recursively
  ansible.builtin.include_tasks: tasks/solver/forced.yml
  when:
    - has_forced_moves

