---
#
# WITH caries variables over on a query boundary 
#
- name: "initial value for Cell:{{ item.entity_name }}"
  platform42.neo4j.query:
    neo4j_uri: "{{ NEO4J_URI }}"
    database: "{{ NEO4J_DATABASE }}"
    username: "{{ NEO4J_USERNAME }}"
    password: "{{ NEO4J_PASSWORD }}"
    query: |
      MATCH (c:Cell)
      WHERE c.color = 0 AND size(c.domain) = 1
      RETURN 
        c.entity_name AS entity_name,
        c.domain[0] AS forced_value
  register: colored_cell

- name: print query 
  ansible.builtin.debug:
    var: colored_cell
