---
- name: 
  ansible.builtin.set_fact:
    depth: 0

- name: candidate minimum remaining values
  platform42.neo4j.query:
    neo4j_uri: "{{ NEO4J_URI }}"
    database: "{{ NEO4J_DATABASE }}"
    username: "{{ NEO4J_USERNAME }}"
    password: "{{ NEO4J_PASSWORD }}"
    query: |
      MATCH (c:Cell)
      WHERE 
        c.color = 0
      ORDER BY 
        size(c.domain) ASC
      LIMIT 1
      SET 
        c.domain_backup = c.domain,
        c.color_backup = c.color,
        c.color = c.domain[0],
        c.assigned_by_guess = true,
        c.guess_level = $depth
      RETURN
        c;
    write_access: True
    parameters:
      depth:
        type: int
        value: "{{ depth }}"
  register: guessed


- name:
  ansible.builtin.debug:
    var: guessed
    