---
- name: candidate minimum remaining values
  platform42.neo4j.query:
    neo4j_uri: "{{ NEO4J_URI }}"
    database: "{{ NEO4J_DATABASE }}"
    username: "{{ NEO4J_USERNAME }}"
    password: "{{ NEO4J_PASSWORD }}"
    query: |
      MATCH (c:Cell)
      WHERE c.color = 0
      RETURN c, size(c.domain) AS domain_size
      ORDER BY domain_size ASC
      LIMIT 1
      SET c.domain_backup = c.domain,
      c.color_backup = c.color,
      c.color = c.domain[0],
      c.assigned_by_guess = true,
      c.guess_level = $depth
    parameters:
      depth:
        type: int
        value: 0
  register: guessed


- name:
  ansible.builtin.debug:
    var: guessed
    