---
#
# WITH caries variables over on a query boundary 
#
- name: "initial value for Cell:{{ item.entity_name }}"
  platform42.neo4j.query:
    neo4j_uri: "{{ NEO4J_URI }}"
    database: "{{ NEO4J_DATABASE }}"
    username: "{{ NEO4J_USERNAME }}"
    password: "{{ NEO4J_PASSWORD }}"
    query: |
      MATCH (c:Cell {entity_name: $entity_name})
      SET c.value = $value, c.domain = [$value]
      WITH c, $value AS value
      MATCH (c)-[:SEES]->(n:Cell)
      WHERE n.value = 0
      SET n.domain = [x IN n.domain WHERE x <> value]
      RETURN c, n
    write_access: True
    parameters:
      entity_name: 
        value: "{{ item.entity_name }}"
        type: str
      value: 
        value:  "{{ item.color }}"
        type: int
  register: coloured_cell

- name: print query 
  ansible.builtin.debug:
    var: coloured_cell
