---
#
# WITH caries variables over on a query boundary 
#
- name: "print board"
  platform42.neo4j.query:
    neo4j_uri: "{{ NEO4J_URI }}"
    database: "{{ NEO4J_DATABASE }}"
    username: "{{ NEO4J_USERNAME }}"
    password: "{{ NEO4J_PASSWORD }}"
    query: |
      MATCH (c:Cell)
      WITH c
      ORDER BY c.row, c.column
      RETURN 
        collect(c.color) AS colors;
  register: sudoku

- name: fuck
  ansible.builtin.debug:
    var: sudoku.query.cypher_response

     

