---
#
# WITH caries variables over on a query boundary 
#
- name: "print board"
  platform42.neo4j.query:
    neo4j_uri: "{{ NEO4J_URI }}"
    database: "{{ NEO4J_DATABASE }}"
    username: "{{ NEO4J_USERNAME }}"
    password: "{{ NEO4J_PASSWORD }}"
    query: |
      MATCH (c:Cell)
      WITH c
      ORDER BY c.row, c.column
      RETURN 
        collect(c.color) AS colors;
  register: sudoku

- name: extract board from cypher response
  ansible.builtin.set_fact:
    sudoku_board: "{{ sudoku.query.cypher_response[0].sudoku | indent(2) }}"

- name: print board
  ansible.builtin.debug:
    msg: |
      {% set colors = sudoku.query.cypher_response.colors %}
      {% set rows = [] %}
      {% for i in range(0, colors|length, 9) %}
      {%   set row = colors[i:i+9] %}
      {%   set formatted_row = row[0:3] | join(' ') + ' | ' +
                              row[3:6] | join(' ') + ' | ' +
                              row[6:9] | join(' ') %}
      {%   set _ = rows.append(formatted_row) %}
      {% endfor %}
      {{ rows | join('\n') }}
     

