---
#
# WITH caries variables over on a query boundary 
#
- name: "print board"
  platform42.neo4j.query:
    neo4j_uri: "{{ NEO4J_URI }}"
    database: "{{ NEO4J_DATABASE }}"
    username: "{{ NEO4J_USERNAME }}"
    password: "{{ NEO4J_PASSWORD }}"
    query: |
      MATCH (c:Cell)
      WITH c
      ORDER BY c.row, c.column
      WITH collect(c.color) AS v
      
      RETURN
      ' ' +
      v[0]  + ' ' + v[1]  + ' ' + v[2]  + '   ' +
      v[3]  + ' ' + v[4]  + ' ' + v[5]  + '   ' +
      v[6]  + ' ' + v[7]  + ' ' + v[8]  + '\n' +
      
      ' ' +
      v[9]  + ' ' + v[10] + ' ' + v[11] + '   ' +
      v[12] + ' ' + v[13] + ' ' + v[14] + '   ' +
      v[15] + ' ' + v[16] + ' ' + v[17] + '\n' +
      
      ' ' +
      v[18] + ' ' + v[19] + ' ' + v[20] + '   ' +
      v[21] + ' ' + v[22] + ' ' + v[23] + '   ' +
      v[24] + ' ' + v[25] + ' ' + v[26] + '\n\n' +
      
      ' ' +
      v[27] + ' ' + v[28] + ' ' + v[29] + '   ' +
      v[30] + ' ' + v[31] + ' ' + v[32] + '   ' +
      v[33] + ' ' + v[34] + ' ' + v[35] + '\n' +
      
      ' ' +
      v[36] + ' ' + v[37] + ' ' + v[38] + '   ' +
      v[39] + ' ' + v[40] + ' ' + v[41] + '   ' +
      v[42] + ' ' + v[43] + ' ' + v[44] + '\n' +
      
      ' ' +
      v[45] + ' ' + v[46] + ' ' + v[47] + '   ' +
      v[48] + ' ' + v[49] + ' ' + v[50] + '   ' +
      v[51] + ' ' + v[52] + ' ' + v[53] + '\n\n' +
      
      ' ' +
      v[54] + ' ' + v[55] + ' ' + v[56] + '   ' +
      v[57] + ' ' + v[58] + ' ' + v[59] + '   ' +
      v[60] + ' ' + v[61] + ' ' + v[62] + '\n' +
      
      ' ' +
      v[63] + ' ' + v[64] + ' ' + v[65] + '   ' +
      v[66] + ' ' + v[67] + ' ' + v[68] + '   ' +
      v[69] + ' ' + v[70] + ' ' + v[71] + '\n' +
      
      ' ' +
      v[72] + ' ' + v[73] + ' ' + v[74] + '   ' +
      v[75] + ' ' + v[76] + ' ' + v[77] + '   ' +
      v[78] + ' ' + v[79] + ' ' + v[80]
      AS sudoku
  register: sudoku

- name: extract board from cypher response
  ansible.builtin.set_fact:
    sudoku_board: "{{ sudoku.query.cypher_response[0] }}"

- name: extract board from cypher response
  ansible.builtin.set_fact:
    sudoku_board_formatted: "{{ sudoku_board.sudoku | indent(2) }}"

- name: print board
  ansible.builtin.debug:
    var: sudoku_board 
     

